<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABxgW9VyjxZLTMtp50wFthGjRh-3z1YOk</string>
	<key>GCM_SENDER_ID</key>
	<string>510783199717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportTimer</string>
	<key>PROJECT_ID</key>
	<string>sport-timer-816b3</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-timer-816b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510783199717:ios:2648a1f6b969828035770c</string>
</dict>
</plist>